<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block title %}

    {% if title %}
        <title>Портал - {{ title }}</title>
    {% else %}
        <title>Портал</title>
    {% endif %}
    {% endblock %}
</head>

{%block content %}
<div class="vmenu">
    <div class="green-bar"></div>

    <div class="red-bar"></div>

    <div class="red-bar">
        <img id="reload-btn" class="logo-img" src="{{ url_for('static', filename='image/dunlogo.png') }}" alt="логотип">

    </div>
    {% block mainmenu %}
    <div class="nav-buttons">
        <ul>
            {% for i in menu %}
                <li style="display: inline; margin-left: 10px;"><a href="{{url_for(i.url)}}" style="text-decoration: none; color: white;">{{i.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
    {% endblock mainmenu %}
    {% endblock %}
</html>