{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
    {% for msg in get_flashed_messages() %}
    <div style = 'color: white;'>{{msg}}</div>
    {% endfor %}>
<body>

    <div class="container" id="container">
        
        <div class="form-container sign-up">
            <form action="/login" method="post" class="form-contact">
              <h1>РЕГИСТРАЦИЯ</h1>
              <br>
              <span>используй email для регистрации</span>
              <input type="text" name="name" value="" required placeholder="Имя">
              <input type="text" name="surname" value="" required placeholder="Фамилия">
              <input type="text" name="patronymic" value="" required placeholder="Отчество">
              <input type="text" name="login" value="" required placeholder="Логин">
              <input type="text" name="email" value="" required placeholder="Email">
              <input type="password" name="psw1" value="" required placeholder="Пароль">
              <input type="password" name="psw2" value="" required placeholder="Повтори пароль">
              <p><input type="submit" value="Зарегестрировать" /></p>
            </form>
          </div>
          
          <div class="form-container sign-in">
            <form action="/login" method="post" class="form-contact">
              <h1>Вход</h1>
              <br>
              <span>используй свой логин и пароль</span>
              <input type="text" placeholder="Логин" name="login" value="" requied />
              <input type="password" placeholder="Пароль" name="psw" value="" requied />
              <a href="">Забыл(а) пароль?</a>
              <p><input type="submit" value="Войти" />
            </form>
          </div>
          
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Рады видеть тебя снова</h1>
                    <p>Если у тебя уже есть учётная запись, нажми кнопку ниже.</p>
                    <button class="hidden" id="login">Войти</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Привет!</h1>
                    <p>Если у тебя ещё нет учётной записи, зарегистрируйся, чтобы использовать все возможности сайта.</p>
                    <button class="hidden" id="register">РЕГИСТРАЦИЯ</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
</body>

</html>
{% endblock %}